.background {
  background-image: linear-gradient(135deg, rgb(62, 10, 78), rgb(101, 39, 182));
  height: max-content;
  background-repeat: no-repeat;
}
.field {
  height: auto;
}
.button {
  padding: 25px !important;
  background-color: tomato !important;
  color: white !important;
  border: none !important;
}
hr {
  height: 10px !important;
  background-color: rgb(255, 255, 255) !important;
  border: none !important;
  color: wheat !important;
}
.error {
  font-size: 100px;
  background-color: turquoise;
}
